@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --linear-gradient: linear-gradient(hsl(220deg, 80%, 80%), hsl(250deg, 80%, 80%));
    --red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --body-font-size: 18px;
    --font-family: 'Space Grotesk';
}

body{
    background-image: url("../images/bg-main-mobile.png");
    background-repeat: no-repeat;
    height: 100vh;
    font-family: var(--font-family);

}


main{
    display: grid;
    grid-template-columns: minmax(200px, 375px);
    grid-template-rows: 320px 1fr;
    /* color: var(--white); */
}

main .card-container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    
}

main .card-container .card-back{
    top: 30px;
    right: 20px;
    position: absolute;
    width: 280px;
    height: 153px;
    background-image: url("../images/bg-card-back-mobile.png");
}
main .card-container .card-back .cvc{
    font-size: 0.8rem;
    font-family: var(--font-family);
    color: var(--white);
    transform: translate(220px, 66px);
    width: 20px;
}

main .card-container .card-front{
    position: absolute;
    width: 280px;
    height: 153px;
    top: 115px;
    background-image: url("../images/bg-card-front-mobile.png");
    color: var(--white);
    font-family: var(--font-family);
    padding: 20px;
    filter: drop-shadow(0 15px 50px rgba(0,0,0,0.3));
}
main .card-container .card-front .logo-icon{
    display: flex;
    width: 55px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}
main .card-container .card-front .logo-icon .circle-1{
    height: 30px;
    width: 30px;
    background-color: var(--white);
    border-radius: 50%;
}
main .card-container .card-front .logo-icon .circle-2{
    height: 14px;
    width: 14px;
    border: 1px solid var(--white);
    border-radius: 50%;
}
main .card-container .card-front .number-card{
    
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    margin-top: 25px;
    font-size: 1.1rem;
}

main .card-container .card-front .card-detail{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    margin-top: 5px;
    text-transform: uppercase;
}

main .container-form{
    position: relative;
    width: 100%;
    height: 600px;
    padding: 0 20px;
}

main .container-form form .card-data{
    display: flex;
    flex-direction: column;

}
.label{
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    line-height: 35px;
    color: var(--very-dark-violet);
    font-weight: 500;
}

input{
    border: 1px solid var(--light-grayish-violet);
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    appearance: none;
    
}
input::placeholder{
    color: var(--light-grayish-violet);
}
input::-webkit-inner-spin-button{
    appearance: none;
}

input:focus-visible{
    border: none;
    outline: 1px solid var(--red);
}

main .container-form form .input-date{
    display: grid;
    grid-template-columns: repeat(2, 25%) 43%;
    grid-template-rows: none;
    gap: 10px;
}
main .container-form form .input-date .exp input,
main .container-form form .input-date .year input{
    max-width: 80px;
}
main .container-form form .input-date .cvc input{
    max-width: 100%;
}
#button{
    border: none;
    width: 100%;
    padding: 18px;
    background-color: var(--very-dark-violet);
    border-radius: 8px;
    margin-top: 10px;
    color: var(--white);
    font-size: var(--body-font-size);
}

@media (min-width: 376px){

    body{
        background-image: url("../images/bg-main-desktop.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
    
    }
    
    
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    main .card-container{
        position: relative;
        max-width: 730px;
        max-height: 600px;
        /* background-color: blueviolet; */
        
    }

    main .card-container .card-back{
        position: absolute;
        width: 447px;
        height: 245px;
        background-image: url("../images/bg-card-back.png");
        top: 50%;
        filter: drop-shadow(0 15px 50px rgba(0,0,0,0.3));
    }

    main .card-container .card-back .cvc{
        font-size: var(--body-font-size);
        font-family: var(--font-family);
        color: var(--white);
        transform: translate(360px, 110px);
        width: 20px;
    }

    main .card-container .card-front{
        position: absolute;
        width: 447px;
        height: 245px;
        top: 30px;
        right: 90px;
        background-image: url("../images/bg-card-front.png");
        color: var(--white);
        font-family: var(--font-family);
        padding: 40px;
        filter: drop-shadow(0 15px 50px rgba(0,0,0,0.3));
    }

    main .card-container .card-front .logo-icon{
        display: flex;
        width: 85px;
        height: 60px;
        align-items: center;
        justify-content: space-between;
    }
    main .card-container .card-front .logo-icon .circle-1{
        height: 45px;
        width: 45px;
        background-color: var(--white);
        border-radius: 50%;
    }
    main .card-container .card-front .logo-icon .circle-2{
        height: 20px;
        width: 20px;
        border: 1px solid var(--white);
        border-radius: 50%;
    }
    main .card-container .card-front .number-card{
        
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        letter-spacing: 4px;
        margin-top: 30px;
        font-size: 1.6rem;
    }
    
    main .card-container .card-front .card-detail{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.80rem;
        margin-top: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-right: 12px;
    }

    main .container-form{
        position: relative;
        width: 500px;
        height: 450px;
        padding: 0 20px;
    }

    main .container-form form .input-date{
        display: grid;
        grid-template-columns: repeat(2, 25%) 45%;
        grid-template-rows: none;
        gap: 10px;
    }

}