@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --linear-gradient: linear-gradient(to hsl(249, 99%, 64%),hsl(278, 94%, 30%));
    --red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --body-font-size: 18px;
    --font-family: 'Space Grotesk';
}

body {
    position: relative;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: minmax(100px,375px);
}

body .background-mobile{
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    width: 375px;
    height: 100vh;
    position: absolute;
}

.back-card  {
    position: absolute;
    top: 35px;
    margin-left: 55px;
}

.front-card > img{
    position: relative;
    top: 128px;
    margin-left: 10px;
}