@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --linear-gradient: linear-gradient(to hsl(249, 99%, 64%),hsl(278, 94%, 30%));
    --red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --body-font-size: 18px;
    --font-family: 'Space Grotesk';
}


main {
    position: relative;
    background-image: url("../images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-color: var(--white);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .card-container {
    position: relative;
    width: 600px;
    height: 600px;
}

main .card-back{
    position: absolute;
    width: 280px;
    height: 153px;
    transform: translate(65px, 40px);
    background-image: url("../images/bg-card-back-mobile.png");
}
main .card-back .cvc{
    font-size: 0.8rem;
    font-family: var(--font-family);
    color: var(--white);
    transform: translate(220px, 66px);
    width: 20px;
}

main .card-front{
    position: absolute;
    width: 280px;
    height: 153px;
    top: 125px;
    left: 20px;
    background-image: url("../images/bg-card-front-mobile.png");
    color: var(--white);
    font-family: var(--font-family);
    padding: 20px;
    filter: drop-shadow(0 15px 50px rgba(0,0,0,0.3));
}

main .card-front .logo-icon{
    display: flex;
    width: 55px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

main .card-front .logo-icon .circle-1{
    height: 30px;
    width: 30px;
    background-color: var(--white);
    border-radius: 50%;
}
main .card-front .logo-icon .circle-2{
    height: 14px;
    width: 14px;
    border: 1px solid var(--white);
    border-radius: 50%;
}
main .card-front .number-card{
    
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    margin-top: 25px;
    font-size: 1.1rem;
}

main .card-front .card-detail{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    margin-top: 5px;
    text-transform: uppercase;
}

main .container-form{
    position: relative;
    top: 280px;
    width: 100%;
    height: 600px;
}
main .container-form form{
    padding-top: 25px;
}
main .container-form form .card-data{
    top: 50px;
    display: flex;
    flex-direction: column;

}
.label{
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    line-height: 35px;
    color: var(--very-dark-violet);
    font-weight: 500;
}
input{
    border: 1px solid var(--light-grayish-violet);
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    appearance: none;
    
}

input::placeholder{
    color: var(--light-grayish-violet);
}

main .container-form form .input-date{
    display: flex;
    gap: 10px;
}
main .container-form form .input-date .input-month .current-input{
    display: flex;
    gap: 10px;
}
main .container-form form .input-date .input-month .current-input input{
    width: 70px;
}
main .container-form form .input-cvc{
    display: flex;
    flex-direction: column;
}
main .container-form form .input-cvc input{
    width: 100%;
}
#button{
    border: none;
    width: 100%;
    padding: 18px;
    background-color: var(--very-dark-violet);
    border-radius: 8px;
    margin-top: 10px;
    color: var(--white);
    font-size: var(--body-font-size);
}


@media (min-width: 376px)
{
    main {
        height: 100vh;
        position: relative;
        background-image: url("../images/bg-main-desktop.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: space-evenly;
        padding: 0 20px;
        background-color: var(--white);
    }

    main .card-container .card-back{
        position: absolute;
        width: 447px;
        height: 245px;
        transform: translate(250px, 320px);
        background-image: url("../images/bg-card-back.png");
        filter: drop-shadow(0 15px 50px rgba(0,0,0,0.3));
    }

    main .card-container .card-back .cvc{
        letter-spacing: 1px;
        font-size: 1rem;
        font-family: var(--font-family);
        color: var(--white);
        transform: translate(360px, 110px);
        width: 20px;
    }

    main .card-container .card-front{
        position: absolute;
        width: 447px;
        height: 245px;
        transform: translate(160px, -90px);
        /* top: 125px;
        left: 20px; */
        background-image: url("../images/bg-card-front.png");
        color: var(--white);
        font-family: var(--font-family);
        padding: 20px;
        filter: drop-shadow(0 15px 50px rgba(0,0,0,0.3));
    }

    main .card-container .card-front .logo-icon{
        display: flex;
        width: 55px;
        height: 30px;
        align-items: center;
        justify-content: space-between;
    }

    main .card-container .card-front .logo-icon .circle-1{
        height: 40px;
        width: 40px;
        background-color: var(--white);
        border-radius: 50%;
    }
    main .card-container .card-front .logo-icon .circle-2{
        height: 17px;
        width: 17px;
        border: 1px solid var(--white);
        border-radius: 50%;
    }

    main .card-container .card-front .number-card{
        width: 100%;
        height: 55px;
        display: flex;
        align-items: center;
        letter-spacing: 2px;
        margin-top: 90px;
        font-size: 1.9rem;
    }

    main .card-container .card-front .card-detail{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.80rem;
        margin-top: 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    main .container-form{
        position: relative;
        top: 0px;
        max-width: 400px;
        height: 400px;
        margin-right: 100px;
    }
}